# Libraries
node_modules/
lib/

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
# Holesky
/broadcast/*/17000/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
