{% extends 'base.html' %}
{% block content %}
  <h1>
    {% block title %}WELCOME TO BLOG{% endblock %}
  </h1>
  <hr />
  <div class="row">
    {% for post in posts %}
      <div class="my-2 col-sm-4 col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post['title'] }}</h5>
            <h6 class="card-subtitle mb-2 text-muted small">{{ post['created'] }}</h6>
            <p class="card-text text-truncate">{{ post['content'] }}</p>
            <a href="{{ url_for('post', post_id=post['id']) }}" class="card-link">Go to post</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
