body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */
.box {
  float: left;
  width: 23%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  padding: 20px 15px;
  text-align: center;
  margin: 1%;
}
.box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px silver;
}
.box h3 {
  font-weight: bold;
}